body{
    background-color:#EEC373;
}

header {
    width: 100%;
    border: 1px solid rgb(88, 58, 70);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}
img {
    width: 40%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 40px;
    box-shadow: 6px  rgb(0, 0, 0); 
}
p {
    color:rgb(0, 0, 0);
    font-style: oblique;
}
h1 {
    color:rgb(5, 5, 5);
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    background-color: #be8548;
    border: none;
    border-radius: 15px 15px 15px 15px;
}
button:hover {
    transform: scale(.8);
    transition: all .3s ease-in-out;
}

.about {
    width: 95%;
    border: 1px solid #000000;
    margin: 30px auto;
    padding: 30px;
  
}
.left-about {
    width: 110%;
    border-radius: 1px;
}
.right-about h2 {
    color: #000000
}
#porducts {
    width: 95%;
    margin: 40px auto;
}
#products h2 {
    color:#000000;
}
.products-card {
    padding: 20px;
    border: 1px dashed goldenrod;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 350px;
    border: 1px solid goldenrod;
}
.card img {
    width: 100%;
}
footer {
    width: 100%;
    padding: 30px;
    text-align: center; 
    background-color: rgb(133, 170, 96)
}